@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");
body, html {
  font-size: 16px;
  width: 100%;
  height: 100%;
  background-color: #121214;
  font-family: 'Lexend Deca', sans-serif; }

h1 {
  color: #999;
  margin-bottom: 20px;
  font-size: 50px; }

.container {
  margin: 0 auto;
  background-color: #121214;
  height: 100%;
  width: 100%;
  max-width: 700px;
  padding: 20px; }

.add-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .add-item input {
    flex-basis: 80%;
    box-sizing: border-box;
    font-size: 16px;
    height: 45px;
    padding-left: 10px;
    font-family: 'Lexend Deca', sans-serif;
    background: #444;
    border: 3px solid transparent;
    border-radius: 5px;
    color: white;
    outline: none; }
    .add-item input:focus {
      outline: none !important;
      border: 3px solid #555; }
  .add-item button {
    flex-basis: 18%;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 3px;
    background: #555;
    color: #888;
    margin-left: 5px;
    height: 45px;
    text-align: center;
    border: none;
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    letter-spacing: .5px;
    outline: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); }
    .add-item button:hover {
      background: #666; }

.list {
  margin-top: 30px;
  border-radius: 3px; }

.deleted-list {
  margin-top: 50px; }
  .deleted-list h2 {
    color: #eee; }

.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #eee;
  padding: 15px; }
  .list-item .bx {
    font-size: 24px; }
  .list-item .bx-checkbox, .list-item .bx-checkbox-checked {
    flex-basis: 30px; }
  .list-item .trash {
    visibility: hidden;
    flex-basis: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .list-item .trash .bx-trash-alt {
      color: #ff4d4d;
      font-size: 20px; }
  .list-item .item-task {
    flex-basis: 75%; }
  .list-item .item-date {
    flex-basis: 25%;
    font-size: .7em;
    opacity: .6;
    vertical-align: baseline; }
  .list-item.completed {
    color: #999; }
  .list-item:hover {
    background-color: #eee; }
    .list-item:hover .trash {
      visibility: visible; }
      .list-item:hover .trash:hover {
        color: red; }
  .list-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .list-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
